h1{
    padding: 15px;
    border: 10px solid red;
    margin: 10;
    background-color: lawngreen
}
nav {
    float: left;
    width: 100%;

 
}
nav ul {

    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    color: rgb(175, 175, 162);
    border-radius: 100px;
    background-color: rgb(245, 97, 97);
    border: 5px solid yellow;
    padding: 0 25px 0;
    border-bottom: ;
    list-style-type: none;
    
   
}
nav li {
    float: left;
}
nav li a {
    display: block;
    height: 25px;
    padding: 12px 18px 8px 18px;
    vertical-align: middle;
}
.beesmall {
    width: 60px;
    height: auto;
}

.bee2{
    width: 100px;
    height: auto; 
    border:5px solid black
}
.fstpara{
    color:red;
}
.scndpara{
    border:2px solid black;
    color: blueviolet
}